<!doctype html>
<html>

<head>
  <title>TwitchViewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/static/twitch.css" rel="stylesheet">
  <link rel="icon" href="static/Glitch_Purple_RGB.png" type="image/gif" sizes="16x16">

</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <img  src="static/Glitch_White_RGB.png" alt="Twitch logo" id="twitch-logo">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3" id="display-box">
        <ul id="channels"></ul>
      </div>


    </div>

  </div>







  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/static/twitch.js"></script>

</body>

</html>